body {
  margin: 0;
  background-color: #d7d9ff;
}

#weather_menubar {
  background-color: #4d731c;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
* {
    margin: 0;
}

#weather_menubar a {
  text-decoration: none;
  color: black;
  background-color: #caff73;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease;
}


#weather_menubar a:hover {
  background-color: #b3eb5e;
}

.container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 40px;
}

.info-box {
  max-width: 300px;
  background-color: #f0f4ff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  font-size: 16px;
}

#map {
  width: 400px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}
