body{
    background-color: #d7d9ff;
}

#login_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #FFEAE6;
    border-radius: 12px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}




#login_form {

    display: flex;
    flex-direction: column;
    align-items: center;
   
}


input[type="text"],
input[type="password"] {

    height: 45px;
    width: 243px;
    font-size: 22px;
}



.input-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.input-row label {
    font-size: 18px;
    width: 120px; 
    text-align: right;
    margin: 0;
}



#link_to_register {

    text-decoration: none;
    padding: 3px;
    background-color: none;
    font-size: 15px;
    color: #923e04;
    margin-top: 10px;
    display: block;
    text-align: center;
}



#link_to_register:hover {

    color: #5F2602;
    text-decoration: underline;
}

input::placeholder {
    font-size: 15px;
}


label {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #111114;
    text-align: center;
    width: fit-content;
}

button {
    
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #99D329;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: #FE7934;
}

#submit_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
