body{
    background-color: lightblue;
}

#login_container {
    /*
    display:flex;
    flex-direction: column;
    
    align-items: center;
    
    justify-content: center;
    */
    top: 20%;
    left:42%;
    position:absolute;
    padding: 9px;
    

}

#login_form {

    display: flex;
    flex-direction: column;
    align-items: center;
   
}

input[type = text] {

    height: 45px;
    width: 243px;
    font-size: 22px;
}

input[type = password] {

    height: 45px;
    width: 243px;
    font-size: 22px;
}


#link_to_login_form {

    text-decoration: none;
    padding: 3px;
    background-color: none;
    font-size: 13px;
    color:paleturquoise
}

#link_to_login_form:hover {

    color:lightslategrey
}
